<% var menuitem = ''; %>
<% include header %>

<div class="col-sm-6 form-container">
    <h4 class="title">Jelszó lecserélése</h4>
    <form method="post" action="/user/1/mod/psw" >
        <div class="form-group">
            <label for="applicationName" class="col-5">Régi jelszó</label>
            <input type="password" class="form-control col-7" id="applicationName" aria-describedby="userNameHelp">
        </div>
        <div style="height: 20px"></div>
        <div class="form-group">
            <label for="applicationName" class="col-5">Új jelszó</label>
            <input type="password" class="form-control col-7" id="applicationName" aria-describedby="userNameHelp">
        </div>
        <div class="form-group">
            <label for="applicationName" class="col-5">Új jelszó ismét</label>
            <input type="password" class="form-control col-7" id="applicationName" aria-describedby="userNameHelp">
        </div>

        <div style="height: 15px"></div>

        <button type="submit" class="btn btn-block btn-outline-primary">Módosítás</button>
    </form>
</div>

<% include footer %>