<% var menuitem='judges'; %>

<% include header %>

<div class="col-sm-6 form-container">
    <h4 class="title">Pályázatbírák</h4>
    <div style="height: 20px"></div>
    <div class="name">
        <% judges.forEach( function(judge){ %>
        <h5><%= judge.name %></h5>
        <% }) %>
    </div>
</div>

<% include footer %>