<nav class="bd-sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link <% if ( menuitem == 'news' ) { %> active <% } %> " href="/news">Hírek</a>
        </li>
        <li class="nav-item subitem">
            <a class="nav-link <% if ( menuitem == 'addnews' ) { %> active <% } %> " href="/news/add">Publikálás</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if ( menuitem == 'apps' ) { %> active <% } %> " href="/apps">Pályázatok</a>
        </li>
        <li class="nav-item subitem">
            <a class="nav-link <% if ( menuitem == 'addapp' ) { %> active <% } %> " href="/apps/add">Kiírás</a>
        </li>
        <li class="nav-item subitem">
            <a class="nav-link <% if ( menuitem == 'allapps' ) { %> active <% } %> " href="/apps/all">Bírálás</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if ( menuitem == 'judges' ) { %> active <% } %> " href="/judg">Bírák</a>
        </li>
        <li class="nav-item subitem">
            <a class="nav-link <% if ( menuitem == 'admin' ) { %> active <% } %> " href="/judg/admin"s>Jogkörök</a>
        </li>
    </ul>
</nav>