<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pályázati portál</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/globalstyles.css" rel="stylesheet">
</head>

<body>

<header class="navbar navbar-dark bg-primary">
    <% include pageNavbar %>
</header>
<div class="container-full">
    <div class="row">
        <div class="col-2">
            <% include pageMenubar %>
        </div>
        <div class="col-10 content">