<% if ( tender.isnew ){ %>
    <% var menuitem = 'tenderAdd'; %>
<% } else { %>
    <% var menuitem=''; %>
<% } %>

<% include pageHeader %>

<div class="col-sm-6 form-container">
    <h4 class="title">Pályázat <%= (tender.isnew) ? 'létrehozása' : 'módosítása' %></h4>
    <form method="post" action="" >
        <div class="form-group">
            <label for="applicationName" class="col-5">Pályázat neve</label>
            <input type="text" class="form-control col-7" id="applicationName" name="title" aria-describedby="userNameHelp" placeholder="Cím" value="<%= tender.title %>" required>
        </div>
        <div class="form-group">
            <label for="deadline" class="col-5">Beküldési Határidő</label>
            <input type="date" class="form-control col-7" id="deadline" name="duedate" aria-describedby="fullNameHelp"  value="<%= func.moment(tender.duedate).format('YYYY-MM-DD').toString() %>" required>
        </div>
        <div class="form-group">
            <textarea type="text" class="form-control" id="details" name="description" rows="10" aria-describedby="passWordHelp" placeholder="Leírás" required><%= tender.description %></textarea>
        </div>

        <div style="height: 15px" ></div>

        <button type="submit" class="btn btn-block btn-outline-primary">Közzététel</button>
    </form>
</div>

<% include pageFooter %>